.article {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-top: 3rem;
  & h2 {
    margin: 0;
  }
}

.article p {
  display: flex;
  flex-direction: column;
  margin: 0;
  & label {
    font-weight: 600;
    font-size: 0.8rem;
    padding-bottom: 0.25rem;
  }
  & input, textarea {
    border: none;
    background-color: #ddd;
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.dateRow {
  & p:first-child {
    width: 12rem;
  }
}
