
dialog {
  /* move it up a bit */
  transform: translateY(-50%);
  background-color: ghostwhite;
  & form {
    text-align: right;
  }
  &::backdrop {
    background-color: black;
    opacity: 0.50;
  }
}
