.task {
  display: flex;
  background-color: #eee;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  column-gap: 1rem;
  & span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}